body {
    height: 100vh;
    background-color: #dde0dd;
}

#barra-lateral {
    padding: 0;
    z-index: 2;
}

#sec-derecha {
    height: 100vh;
}

#navbar {
    box-shadow: 0 0 10px;
    z-index: 1;
}

#flechita {
    font-size: 10px;
}

#logo {
    height: 64px;
    border-bottom: 1px solid #28a745;
    margin: 0 10%;
    color: #28a745;
}

#opciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

#opciones a {
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.controles a {
    text-decoration: none;
}
